<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon.filter.default</key>
	<string>menufilterIconBar</string>
	<key>icon.filter.asso</key>
	<string>menufilterIconAsso</string>
	<key>icon.filter.bar</key>
	<string>menufilterIconBar</string>
	<key>icon.filter.club</key>
	<string>menufilterIconClub</string>
	<key>icon.filter.hotel</key>
	<string>menufilterIconHotel</string>
	<key>icon.filter.outdoors</key>
	<string>menufilterIconOutdoor</string>
	<key>icon.filter.restaurant</key>
	<string>menufilterIconResto</string>
	<key>icon.filter.sauna</key>
	<string>menufilterIconSauna</string>
	<key>icon.filter.sexclub</key>
	<string>menufilterIconSexClub</string>
	<key>icon.filter.sexshop</key>
	<string>menufilterIconStore</string>
	<key>icon.default</key>
	<string>snpIconBar</string>
	<key>icon.asso</key>
	<string>snpIconAsso</string>
	<key>icon.bar</key>
	<string>snpIconBar</string>
	<key>icon.club</key>
	<string>snpIconClub</string>
	<key>icon.hotel</key>
	<string>snpIconHotel</string>
	<key>icon.outdoors</key>
	<string>snpIconOutdoor</string>
	<key>icon.restaurant</key>
	<string>snpIconRestaurant</string>
	<key>icon.sauna</key>
	<string>snpIconSauna</string>
	<key>icon.sexclub</key>
	<string>snpIconSexclub</string>
	<key>icon.sexshop</key>
	<string>snpIconShop</string>
	<key>color.user.offline</key>
	<string>ffffff</string>
	<key>color.user.online</key>
	<string>70ff01</string>
	<key>marker.offset.default.x</key>
	<integer>0</integer>
	<key>marker.offset.default.y</key>
	<integer>-22</integer>
	<key>marker.asso</key>
	<string>mapMarkerAsso</string>
	<key>marker.asso.closed</key>
	<string>mapMarkerAssoOff</string>
	<key>marker.club</key>
	<string>mapMarkerClub</string>
	<key>marker.club.closed</key>
	<string>mapMarkerClubOff</string>
	<key>marker.bar</key>
	<string>mapMarkerBar</string>
	<key>marker.bar.closed</key>
	<string>mapMarkerBarOff</string>
	<key>marker.hotel</key>
	<string>mapMarkerHotel</string>
	<key>marker.hotel.closed</key>
	<string>mapMarkerHotelClosed</string>
	<key>marker.outdoors</key>
	<string>mapMarkerOutdoor</string>
	<key>marker.outdoors.closed</key>
	<string>mapMarkerOutdoorOff</string>
	<key>marker.restaurant</key>
	<string>mapMarkerResto</string>
	<key>marker.restaurant.closed</key>
	<string>mapMarkerRestoOff</string>
	<key>marker.sauna</key>
	<string>mapMarkerSauna</string>
	<key>marker.sauna.closed</key>
	<string>mapMarkerSaunaOff</string>
	<key>marker.sexclub</key>
	<string>mapMarkerSexClub</string>
	<key>marker.sexclub.closed</key>
	<string>mapMarkerSexClubOff</string>
	<key>marker.sexshop</key>
	<string>mapMarkerStore</string>
	<key>marker.sexshop.closed</key>
	<string>mapMarkerStoreOff</string>
	<key>url.server</key>
	<string>http://www.pelmelguide.com</string>
	<key>hdEnabled</key>
	<false/>
	<key>color.event</key>
	<string>ff0037</string>
	<key>color.placeType.default</key>
	<string>f48020</string>
	<key>color.placeType.hotel</key>
	<string>3dabff</string>
	<key>color.placeType.asso</key>
	<string>c8c90b</string>
	<key>color.placeType.sauna</key>
	<string>4856ff</string>
	<key>color.placeType.restaurant</key>
	<string>a5c21a</string>
	<key>color.placeType.sexclub</key>
	<string>ff0000</string>
	<key>color.placeType.sexshop</key>
	<string>4db748</string>
	<key>color.placeType.club</key>
	<string>9f177b</string>
	<key>color.placeType.bar</key>
	<string>f48020</string>
</dict>
</plist>
